@using Shared
@using System.Globalization
@model IEnumerable<ParkingInformation> 


@{
    double hourlyFee = Double.Parse(ConfigurationManager.AppSetting["Configs:hourlyFee"]);
    int availableSpots = Spots.SpotsAvailable;
    int currentTotalSpots = Model.ToList().Count;
}

<p>
    Total Spots: @Spots.TotalSpots
    <br/>
    Hourly Fee : @hourlyFee

</p>
<p>
Available spots : @Spots.SpotsAvailable
</p>

<style>
    /* Custom CSS for the table */
    .custom-table {
        border-collapse: collapse;
        width: 100%;
    }

        .custom-table th, .custom-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .custom-table th {
            background-color: #4CAF50; /* Dark green for header */
            color: white;
        }

        .custom-table tbody tr:nth-child(even) {
            background-color: #D3EFD3; /* Light green for even rows */
        }

        .custom-table tbody tr:nth-child(odd) {
            background-color: #B9E4B9; /* Slightly darker green for odd rows */
        }
</style>

<table class="custom-table">
    <thead>
        <tr>
            <th>Tag</th>
            <th>In</th>
            <th>Elapsed time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TagNumber</td>
                <td>
                    @((item.InTime).ToString("hh:mm tt", CultureInfo.InvariantCulture))
                </td>
                <td>@item.HoursParked</td>
            </tr>
        }
    </tbody>
</table>

            <p>
    Spots Taken : @(Spots.TotalSpots -  Spots.SpotsAvailable)
            </p>